<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et labore fugiat consequatur dolore blanditiis ipsam, itaque ullam obcaecati veniam officia ex excepturi, odit aut commodi repellat animi dignissimos? Facere, in.
            </p>
        </section>
        <address>
            <h2 class="footer__title">
            <ul>
                <li>Telefone 919519</li>
                <li>Email asdasd@sdasd</li>
                <li>Wpp 6516516</li>
            </ul>
            </h2>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>